@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,100;9..144,200;9..144,300;9..144,400&family=Gloock&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Raleway:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Oswald:wght@200;300;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Josefin+Sans:wght@100;200;300;400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Oswald:wght@200;300;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chonburi&family=Josefin+Sans:wght@100;200;300;400;500;700&family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Oswald:wght@200;300;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Chonburi&family=Familjen+Grotesk:wght@400;700&family=Josefin+Sans:wght@100;200;300;400;500;700&family=Marcellus&family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Oswald:wght@200;300;400;700&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Quicksand:wght@300;400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Tabac Big Glam Black;
  src: url('./fonts/Tabac\ Big\ Glam\ Black.otf') format('opentype');
}

#admin-nav a.active {
  background-color: transparent;
  border: 1px solid rgb(20 83 45);
}



/*spinner animation*/
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 30px;
  height: 30px;
  border: 5px solid #6b9fa542;
  border-top: 5px solid #354f52;
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}



/*bnt hover animation*/

.btn {
  background-color: #354f52;
  color: white;
  position: relative;
  overflow: hidden;
}


.btn span{
  position: relative;
  z-index: 1;
}

.btn::before {
  content: "";
  position: absolute;
  background-color: #224148;
  width: 0;
  height: 0;
  left: var(--xPos);
  top: var(--yPos);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  transition: width .5s, height .5s, ease 1.2s;

}

.btn:hover::before {
  width: 1750px;
  height: 1750px;
}
/* #5d777a; */
 /* #344549; */